<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-template-with-config-api.ZPM">
    <Module>
      <Name>objectscript-template-with-config-api</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.PackageSample.PKG"/>

      <Invoke Class="Api.Config.Services.Loader" Method="Load" Phase="Compile" When="Before">
        <Arg>/opt/irisbuild/iris-config.json</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>