<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-template-with-config-api.ZPM">
    <Module>
      <Name>objectscript-template-with-config-api</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>

      <FileCopy Name="config-api/" InstallDirectory="${libdir}config-api/"/>
      <Invoke Class="Api.Config.Services.Loader" Method="LoadFromInvoke">
        <Arg>${root}config-api/iris-config.json</Arg>
      </Invoke>
      
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.PackageSample.PKG"/>
      
      <Dependencies>
        <ModuleReference>
          <Name>config-api</Name>
          <Version>0.0.2</Version>
        </ModuleReference>
      </Dependencies>

    </Module>
  </Document>
</Export>